body {
    height: 100%;
    background: radial-gradient(red, white, black);
    background-size: 100% 10px;
    z-index: 1;
    margin: 0;
    padding: 0;
}

header .header-left img {
    max-width: 100%;
    height: auto;
    opacity: .9;
}

header .header-right {
    max-width: 100%;
    height: auto;
}




/* Mobile first queries */

/* Larger than mobile */
@media (min-width: 400px) {}

/* Larger than phablet */
@media (min-width: 550px) {}

/* Larger than tablet */
@media (min-width: 750px) {}

/* None HD 2XSM */
@media (min-width: 835px) {
    header button.button-primary {
        background-color: black;
        width: 13rem;
        height: 3.2rem;
        margin-top: .1rem;
        font-size: .8rem;
        letter-spacing: .4rem;
        /* Really, I can't center this? */
        text-align: center;
    }
}

/* None HD XSM */
@media (min-width: 1000px) {
    header button.button-primary {
        background-color: black;
        width: 13rem;
        margin-top: .6rem;
        font-size: .8rem;
        letter-spacing: .3rem;
        text-align: center;
    }
}

/* None HD SM */
@media (min-width: 1200px) {
    header button.button-primary {
        background-color: black;
        width: 15rem;
        margin-top: 1.5rem;
        font-size: 1.2rem;
        text-align: center;
    }
}

/* None HD LG */
@media (min-width: 1500px) {
    header button.button-primary {
        background-color: black;
        width: 20rem;
        margin-top: 3rem;
        font-size: 2rem;
        text-align: center;
    }
}

/* Desktop HD */
@media (min-width: 1900px) {
    header button.button-primary {
        background-color: black;
        width: 20rem;
        height: 3.8rem;
        margin-top: 5rem;
        font-size: 2rem;
        text-align: center;
    }
}

